<?xml version="1.0"?>

<launch>

    <!-- Launch a gazebo world environment. -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find placebot_gazebo)/worlds/wh1.world"/>
		<arg name="paused" value="false"/>
		<arg name="gui" default="true"/>
    </include>

</launch>
